
.ab-bkgrd{
    background-color: var(--dark-green);
    padding-top: 30px;
    padding-left: 45px;
    padding-right: 45px;
}
.ab-container{
    background-color: var(--light-grey);
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
}
.ab-display{
    font-size: 52px;
}

.ab-title{
    width: 100%;
    text-align: center;
}

.ab-h2{
    font-size: 38px;
}

.ab-image{
    margin:10px;
    border: 1px solid var(--dark-green);
    border-radius: 6px;
}

.about-block{
    padding: 10px;
}

.ab-image-bottom{
    border-radius: 6px;
}

.ab-image-bottom:hover{
    border-color: var(--light-grey);

    background-color: var(--lg-about-tp);
    background-blend-mode: multiply;
  }
  
  .ab-image-bottom:hover *{
    color: white;
    font-weight: bold;
  }
  
  .ab-btm-txt{
    color: var(--light-grey);
    position: absolute;
    top: 20%;
    right: 15%;
    display: block;
    padding: 10px;
    border: 2px var(--light-grey) solid;
    border-radius: 4px;
  }

  .ab-ib-container{
      width: 100%;
      height: 100%;
      padding-left: 25px;
      padding-right: 25px;
      padding-bottom:20px;
      position: relative;
  }
  
  .btm-link-wrap {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
  }

@media only screen and (max-device-width: 410px) and (max-device-height: 812px){

    .ab-bkgrd{
        padding:10px;
    }
    .ab-row{
        padding: 5px;
        padding-bottom:0px;
    }

    .ab-display{
        font-size: 32px;
        margin: 5 0 5 0px;
    }

    .ab-image{
        display: none;
    }
    .col-sm-8.ab-text-1{
        width: 100%;
    }
    .col-sm-7.ab-col{
        width: 100%;
    }
    .col-sm-5.ab-col{
        display: none;
    }
    .about-block{
        padding:0px;
    }

    .about-block>p{
        font-size: 16px;
        line-height: 24px;
    }

    .ab-h2{
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 28px;
        line-height: 30px;
    }

    .ab-btm-txt{
        font-size: 18px;
        top: 20%;
        right: 15%;
        padding: 5px;
    }


}