.faq-container{
    background-color: var(--light-grey);
    border-radius: 6px;
    display:flex;
    flex-wrap: wrap;
    padding: 30px;
}

.faq-col-1{
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
}

.faq-head{
    font-size: 48px;
}

.faq-subt{
    color: var(--med-green);
    font-size: 22px;
    line-height: 30px;
}

.faq-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.faq-q-head{
    font-size: 30px;
    line-height: 35px;
}

.faq-answer{
    font-size: 22px;
    line-height: 20px;
}

.btt{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

.btt-link{
    margin-right: 30px;
}

@media only screen and (max-device-width: 430px) and (max-device-height: 812px){

    .ab-bkgrd{
        width: 100%;
    }
    .faq-container{
        padding: 5px;
    }
    .faq-col-1{
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
    }

    .faq-head{
        font-size: 32px;
        line-height: 40px;
        text-align: center;
    }

    .faq-subt{
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }

    .faq-row{
        display: flex;
        flex-wrap: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .row.faq-row{
        padding-right: 0px;
        padding-left: 0px;
    }

    .faq-row>.col-sm-1{
        width: 100%;
    }

    .faq-row>.col-sm-1>i{
        font-size: 24px;
    }

    .faq-q-head{
        margin-top: 10px;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 5px;
    }

    .faq-answer>p{
        font-size: 15px;
        line-height: 20px;
    }

    .btt-link{
        font-size: 15px;
    }

}