
/* top splash image */

.home-container{
  display: flex;
  flex-wrap: wrap;
  
}

.splash{
    height: 650px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.splash-panel{
    border-color: var(--dark-green);
    background-color: var(--lg-transparent);
    color: var(--dark-green);
    position: absolute;
    left: 8rem;
    top: 6rem;
    padding: 32px;
    width: 33rem;
    border-radius: 4px;
    border: 1px solid var(--dark-green);
}

.quote-text{
    font-size: 60px;
}

.sp-fade{
    color: var(--med-green); 
    font-size:60px;
}

.sp-button{
    position: absolute;
    width: 33rem;
    left: 8rem;
    top: 26rem;
    padding: 32px;
    font-size: 35px;
    background-color: var(--lg-transparent);
    border-radius: 4px;
    border: 1px solid var(--dark-green);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sp-button:hover{
    border-color: var(--light-grey);
    color: var(--light-grey);
    background-color: var(--dg-transparent);
  }

  .sp-arrow{
      padding-left: 5px;
  }

  /* middle input panel */

  .middle-input-panel{
    background-color: var(--dark-green);
    min-height: 150px;
    color: var(--light-grey);
    padding: 50px;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .mip-left{
      max-width: 66%;
  }

  .mip-right{
    height: 100%;
    width: 33%;
    max-width: 33%;
    padding: 40px;
  }

  .slogan{
    color: var(--light-grey);
    transition: 0.5s padding;
    text-align: center;
    z-index: 1;
    font-size: 52px;
  }

  .slogan-emphasis{
      color:white;
  }

  .slogan-sub{
    font-size: 38px;
    line-height: 45px;
    margin-bottom: 20px;
  }

  .form-row{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .form-group{
      float:left;
      padding: 20px;
      width: 100%;
  }

  .form-control{
      display: flex;
      font-size: 20px;
      margin-bottom: 10px;
      width: 100%;
  }

  input.form-control{
    padding: 5px;
    border-radius: 4px;
    border: none;
    text-indent: 5px;
  }

  input.form-control:active,input.form-control:focus{
    outline: none !important;
    border:1px solid var(--light-grey);
    box-shadow: 0 0 10px var(--light-grey);
  }

  .custom-select{
    display: flex;
    font-size: 20px;
    padding: 5px;
    color: grey;
    text-indent: 5px;
    max-height: calc(33px + 2.5px);
    height: calc(33px + 2.5px);
    margin-bottom: 10px;
    border: none;
    text-indent: 5px;
    width: 100%;
  }

  .custom-select:active,.custom-select:focus{
    outline: none !important;
    border:1px solid var(--light-grey);
    box-shadow: 0 0 10px var(--light-grey);
    
  }

  .mip-btn{
    font-size: 24px;
    padding: 20px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .mip-image{
    min-height: 475px;
    min-width: 300px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-radius: 5px;
    border: 3px solid var(--light-grey);
  }

.fp-advantages{
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  
}

.fp-title{
  margin-top: 50px;
  font-size: 45px;
  margin-bottom: 50px;
  line-height: 45px;
}

.fp-fa{
  color: var(--light-grey);
}

.fp-adv-col{
  padding-left: 40px;
  padding-right: 40px;
}

.icon-bg{
  display: inline-flex;
  padding: 15px;
  border-radius: 50%;
  background-color: var(--dark-green);
}

.feature-title{
  margin-top: 30px;
  font-size: 35px;
  margin-bottom: 30px;
}

/* mobile stuff */
@media only screen and (max-device-width: 430px) and (max-device-height: 812px){

  .splash{
    height: 225px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .splash-panel{
    position: absolute;
    width: 60%;
    padding: 10px;
    top: 10%;
    left: 17.5%;
  }
  .sp-button{
    position: absolute;
    font-size: 24px;
    width: 60%;
    padding: 10px;
    margin-top: -20px;
    top: 77.5%;
    left: 17.5%;
  }

  .quote-text{
    font-size: 24px;
    line-height: 24px;
  }

  .sp-fade{
    font-size: 24px;
  }

  .middle-input-panel{
    padding: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .mip-left{
    width: 100%;
    max-width: 100%;
    padding:10px;
  }

  .mip-right{
    height: auto;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
  }

  .mip-image{
    min-height: 0px;
    min-width: 0px;
    height: 200px;
    width: 100%;
    margin: 15px;
    margin-right:0px;
    margin-left:0px;
    border: 1px solid var(--light-grey);
  }

  .mip-left>*{
    font-size: 20px;
    line-height: 24px;;
  }

  .slogan-sub{
    font-size: 16px;
    margin-bottom: 0px;
  }

  .form-group{
    padding: 10px;
  }

  .form-group>*{
    font-size: 16px;
  }

  .form-control{
    margin:0px;
    font-size: 14px;
  }

  .custom-select{
    margin:0px;
    padding: 0px;
    height: 27px;
  }
  .custom-select>*{
    font-size: 14px;
  }

  .mip-btn{
    margin: 5px;
    padding: 10px;
    font-size: 15px;
  }

  .fp-advantages{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px;
  }

  .fp-title{
    font-size: 24px;
    line-height: 28px;
  }

  .icon-bg{
    font-size: 10px;
  }
  
  .fp-adv-col.col-sm-1{
    width: 20%;
    padding: 0px;
  }
  .fp-adv-col.col-sm-5{
    width: 80%;
    padding: 0px;
  }

  .feature-title{
    margin-top: 12px;
    margin-bottom:12px;
    margin-left: 10px;
    font-size: 22px;
  }

  .feature-text{
    margin-top: 5px;
    margin-bottom:5px;
    margin-left: 10px;
    font-size: 16px;
    line-height: 20px;
  }


}


  