
.splash{
    height: 650px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.splash-panel{
    border-color: var(--dark-green);
    background-color: var(--lg-transparent);
    color: var(--dark-green);
    position: absolute;
    left: 8rem;
    top: 12rem;
    padding: 32px;
    width: 33rem;
    border-radius: 4px;
    border: 1px solid var(--dark-green);
}

.quote-text{
    font-size: 60px;
}

.sp-fade{
    color: var(--med-green); 
    font-size:60px;
}

.sp-button{
    position: absolute;
    width: 33rem;
    left: 8rem;
    top: 32rem;
    padding: 32px;
    font-size: 35px;
    background-color: var(--lg-transparent);
    border-radius: 4px;
    border: 1px solid var(--dark-green);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sp-arrow{
      padding-left: 5px;
  }
  